* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../fondo.jpg);

  font-family: "Dancing Script", cursive;
  padding: 50px;
}

h2 {
  font-size: 50px;
  padding: 50px;
  color: white;
}

.btn_carrito {
  margin: 100px;
}
.card-body {
  background-color: #ffe8d6;
  border: 2px bold black;

  display: flex;
  align-items: center;
  margin: 10px;
}

.card-title {
  color: rgba(235, 25, 165, 0.809);
}

.card-text {
  color: black;
  font-size: 20px;
  margin: 10px;
  padding-top: 10px;
}

/*------catalogo-----------*/
.catalogo {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
}

.card-body2 {
  padding: 20px;
  background-color: #ffe8d6;
  border: 2px bold black;
}
