* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------carrito-------------*/
.carrito {
  display: flex;
  flex-direction: row;
}

.card-body {
  background-color: beige;
  border: 2px bold black;

  display: flex;
  flex-direction: row;
  justify-items: center;
}

.card-title {
  text-transform: uppercase;
  color: blue;
}

.card-text {
  color: violet;
  font-size: 20px;
  margin: 10px;
  padding-top: 10px;
}

/*------catalogo-----------*/
.catalogo {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}

.card-body2 {
  padding: 20px;
  background-color: rgb(255, 240, 179);
  border: 2px bold black;
}
